


<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of array" class="col-sm-4">
      <div class="card p-2 my-lg-2">
        <img [src]="item.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">BOOKING</a>
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="getValue(item.id)">DELETE</a>
        </div>
      </div>
    </div>
  </div>

</div>




<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--  Launch static backdrop modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...bạn có muốn xóa<span>{{tex.name}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteValue()" >yes</button>
      </div>
    </div>
  </div>
</div>
