


<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of array" class="col-sm-4">
      <div class="card p-2 my-lg-2">
        <img [src]="item.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">BOOKING</a>
        </div>
      </div>
    </div>
  </div>

</div>





