<div>
  <button type="button" class="btn btn-primary" (click)="addCustomer()">Thêm mới</button>
</div>


<div class="container">
  <h1 class="heading"><strong>List Customer</strong></h1>
  <div class="table-responsive">
    <table class="table table-success table-hover">
      <thead class="table-dark">
      <tr>

        <td>Name</td>
        <td>Day of birth</td>
        <td>Gen der</td>
        <td>phone</td>
        <td>address</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of customerList">
        <td>{{item.name}}</td>
        <td>{{item.dayOfBirth}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.address}}</td>
        <td>
          <button type="button" class="btn btn-primary">view</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary">edit</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <p *ngIf="customer">{{customer.id}}</p>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ... <p>bạn co muon xóa <span *ngIf="customer">{{customer.name}}</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save
            changes
          </button>
        </div>
      </div>
    </div>
  </div>
