
* {
  padding: 0;
  margin: 0;
}

.container-fluid{
  background-color: rgba(74, 14, 108, 0.53);
  font-size: 20px;
  color: #48ec25;
}
ul li .dropdown-item{
  color: black;
}
.nav-item a{
  color: white;
}

//.companyName{
//  font-size: 150%;
//}


//ul {
//  list-style: none;
//}
//
//a {
//  text-decoration: none;
//}
//
//.header-box {
//  margin: 0px auto;
//  max-width: 960px;
//}
//
//#logo{
//  height: 100px;
//}
//
//.inner-header {
//  display: flex;
//  //justify-content: space-between;
//  align-items: center;
//}
//
//ul#mail {
//  display: flex;
//}
//
//ul#mail a {
//  text-transform: uppercase;
//  padding: 10px 20px;
//  color: #000000;
//}
