<!--<div class="wrapper">-->
<!--  <div class="inner-header header-box">-->

<!--    <a href="" id="logo">-->
<!--<img-->
<!--  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_cyEYA4Ydfmf3IS3N34trSggNOr6jcvjwvQ&usqp=CAU"-->
<!--  style="width: 100px;height: auto">-->
<!--    </a>-->
<!--    <nav>-->
<!--      <ul id="mail">-->
<!--        <li><a href="">Trang chủ</a></li>-->
<!--        <li><a href="">Dịch vụ</a></li>-->
<!--        <li><a href="">Nhân viên</a></li>-->
<!--        <li><a href="">Liên hệ</a></li>-->
<!--        <li><a href="">Đánh Gía</a></li>-->
<!--      </ul>-->

<!--    </nav>-->
<!--  </div>-->
<!--</div>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_cyEYA4Ydfmf3IS3N34trSggNOr6jcvjwvQ&usqp=CAU"
      style="width: 100px;height: auto">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Dịch vụ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">House</a></li>
            <li><a class="dropdown-item" href="#">Room</a></li>

            <li><a class="dropdown-item" href="#">Vila</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Đánh Gía</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
